.subtitle {
  color: rgba(224, 224, 224, 1);
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 32px;
}
