.wrapper {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
  text-align: center;
}

.link {
  color: rgba(36, 46, 219, 1);
  text-decoration: underline;
}
